*            text eol=lf
build/bin_linux/9pserve binary
build/bin_linux/devdraw binary
build/bin_darwin/9pserve binary
build/bin_darwin/devdraw binary
build/font/lucm/* binary
build/font/lucsans/lsr.14 binary
build/font/misc/* binary
build/font/shinonome/* binary
